---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>All Tags</h2>
  <p>This page will eventually list all tags used in the blog posts.</p>
</BaseLayout>