---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);

const pageTitle = "My Astro Learning Blog";
const firstTitle = "My stupid little blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>{firstTitle}</h2>
  <h2>... on my new Astro site :)</h2>

  <p>This is a blog about nothing really...</p>

  <p>You can move on to the next page.</p>

  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
