---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque labore in
    quos consectetur iste harum sit recusandae ad at, dolores, consequuntur
    fugiat hic facere reprehenderit quis expedita veritatis! Repellendus, dolor?
  </p>
</BaseLayout>
